{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>odifier le Sav</h1>

    {{ include('sav/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sav_index') }}" class="btn btn-secondary">retour</a>

    {{ include('sav/_delete_form.html.twig') }}
{% endblock %}
