{{ form_start(form) }}
<div class="form-control">
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" >{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
