{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Créer un nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}" class="btn btn-secondary">retour</a>
{% endblock %}
